version: 2
jobs:
  build:
    docker:
      - image: circleci/node
      - image: circleci/openjdk
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: docker build .
